<div class="card">
  <mat-card class="mat-card">
    <form [formGroup]="abonnementForm" class="form-container">
      <mat-card-header>
        <mat-card-title>{{nomPrenom}}</mat-card-title>
        <mat-card-subtitle>Formulaire d'abonnement</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="montant" matInput placeholder="Montant">
            <mat-error *ngIf="abonnementForm.controls['montant'].hasError('pattern')">Veuillez ne mettre que des chiffres</mat-error>
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Début de l'abonnement</mat-label>
              <input formControlName="debutAbonnement" matInput [min]="dateMin" [max]="dateMax"  [matDatepicker]="picker" placeholder="Sélectionnez une date">
              <mat-hint>JJ/MM/AAAA</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error >Ce champ est obligatoire</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="fill">
              <mat-label>Durée en mois</mat-label>
              <mat-select formControlName="dureeAbonnement">
                <mat-option *ngFor="let item of dureeAbonnement" [value]="item">{{item}}</mat-option>
              </mat-select>
              <mat-error >Ce champ est obligatoire</mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
    </form>
    <mat-card-actions>
      <button (click)="retourLink()" mat-raised-button color="" >Retour</button>
      <button (click)="onSubmit()"  mat-raised-button color="primary">Sauvegarder</button>
<!--      <button (click)="clearForm()" mat-raised-button color="warn">Effacer</button>-->

    </mat-card-actions>
  </mat-card>
</div>
